$orange: #F47E58;
$lightOrange: #F69557;

// ============================================================== V2 ==============================================================

$darkOrange: #CA4728;
$darkBlue: #1373D1;
$lightBlue: #CAE5F7;
$yellow: #F8E71C;
$lightGrey: #EEEDED;
$lightGrey2: #E8E8EE;
$green: #34AF23;
$red: #CC0000;
$yellow2: #FFCC00;
$grey: #9B9B9B;
$black: #000;
$white: #FFF;
