@import "./globals/all";
@import "./mixins/iconStyle";

// Header bar
.bar.bar-stable {
  background-color: $darkOrange !important;
  color: $white !important;
  .title {
    text-align: center !important;
    color: $white !important;
    text-transform: capitalize !important;
  }
  @include iconStyle(none);
  .iconContainer {
    margin: -5px;
    .icomoon {
      width: 2em;
      height: 2em;
    }
  }
}

.bar-subheader {
  padding-top: 0 !important;
}

// Tab
ion-tabs.rootContainer {
  .tab-nav.tabs {
    padding-top: 0;
    .tab-item {
      opacity: 0.3;
      color: $grey;
      border-top: 4px solid #F8F8F8; // #F8F8F8 is the default color of the tab bar
      .icon {
        font-size: 25px;
        padding-top: 2px;
        height: 27px;
      }
      .tab-title {
        font-size: 1.5em;
        text-transform: capitalize;
      }
      &.tab-item-active {
        color: $darkOrange;
        opacity: 1;
        border-color: $darkOrange;
      }
    }
  }
}

.noCapitalized {
  text-transform: initial !important;
}

.squareImg {
  position: relative;
  flex-shrink: 0;
  &:before {
    display: block;
    padding-top: 100%;
    content: '';
  }
  img, .imgContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
